main {
    .delivery-section {
        -moz-box-sizing: border-box; /* Для Firefox */  
        box-sizing: border-box;
        display: flex;     
        flex-wrap: wrap;
        -webkit-flex-wrap: wrap; /* Safari */      
        display: -webkit-flex; /* Safari */
        justify-content: center;
        -webkit-justify-content: center;
        align-items: center;
        -webkit-align-items: center;
        

        padding: 2rem 1rem 1rem 1rem;
        width: 100%;
        
        .delivery-section__block {
            display: flex;
            justify-content: left;
            align-items: flex-start;
            width: 100%;
            margin: 1rem 0;
            
            svg {
                width: 30%;
                
            }
            details {
                width: 70%; 
                position: relative;         
                summary {
                    @include font_for_card;
                    font-size: 1rem !important;                 
                    outline: none;
                    cursor: pointer;
                    width: 70%;
                }
    
                p {
                    display: block;
                    width: 100%;
                    padding: 0;
                    @include font_menu_mobile_purple;
                    padding-top: 1rem;
                                      
                }
                summary::-webkit-details-marker {
                    display: none;
                }
                summary::after {
                    content: url(../image/png_img/right-arrow-in-black-circular-button_24px.png);
                    position: absolute;
                    right: 10%;
                    top: 0%;
                    
                    
                
                }
            }
            details[open] summary::after {
                content: url(../image/png_img/arrow_button_down.png);
            }
        }
        .delivery-section__block:hover {
            background-color: $color_main_transparent;
            border-radius: 20px;
            transition: 1s;
        }
    }
}



@media only screen and (min-width: 800px) {
    main {
        .delivery-section {
            .delivery-section__block {
                width: 50%;
                height: 110px;
            }
        }
    }
}

@media only screen and (min-width: 1400px) {
    main {
        .delivery-section {
            padding: 2rem 5rem 0rem 5rem;
            .delivery-section__block {
                width: 25%;
                height: 140px;
                
            }
        }
    }
}
@media only screen and (min-width: 1700px) {
    main {
        .delivery-section {
            .delivery-section__block {
                height: 180px;
                details summary {
                    font-size: 1.5rem !important;                 
                     
                }
            }
        }
    }
}


