header {
  .header {
    .header__burger_menu {
      
      text-align: right;
      cursor: pointer;
      height: 50px;
      width: 50px;
      position: relative;
      
      .menu-global {
        backface-visibility: hidden;
        position: absolute;
        left: 0;
        border-top: 6px solid $color_main_dark_transparent;
        width: 40px;
        transition: 0.2s;
      }

      .menu-top {
        top: 0;
      }
      .menu-top.is-active {
        backface-visibility: hidden;
        top: 15px;
        transform: rotate(50deg);
        transition: 0.2s 0.2s;
      }
      .menu-middle {
        top: 12px;
      }

      .menu-middle.is-active {
        opacity: 0;
      }
      .menu-bottom {
        top: 24px;
      }
      .menu-bottom.is-active {
        backface-visibility: hidden;
        top: 15px;
        transform: rotate(-410deg);
        transition: 0.2s 0.2s;
      }
    }
  }
}



  @media only screen and (min-width: 590px) {
    header {
      display: flex;
      align-items: center;
      margin: 0;
      .header__burger_menu {
        display: none;
      }
    }
  }