//stile burger menu in other file (бургер меню в отдельном файле)

header {
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    width: 100%;
    transition: 0.8s;
    
    
   
    .header {
       display: flex;
        align-items: baseline;  
        justify-content: space-between;
        padding: 7px;
        
                
        a {
            text-decoration: none;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }       
    }

   
    .header__logo {
        span {
            display: inline-block;
            //width: 50%;
            @include font_spanlogo;
            text-decoration: none;
        }
    } 
    .header__logo:hover span {
        color:   $color_main_light;  
    }

    .header__logo:hover svg {
        fill:$color_main_light;
        //color: red;
        //stroke: red;

        path {
            //stroke:inherit;
            //stroke-width:inherit;
            fill:inherit;
        }
    }

    nav {
        background-image: url(../image/products_photo/beze_onstick/onstick_1.jpg);
        background-repeat: no-repeat;
        background-size: 100%;

               
        .navigation__menu {
            
            list-style-type: none;
            display: flex;
            flex-direction: column;
            align-content: center;
            margin: 0;
            padding: 10px 0;                
            text-align: center; 
            width: 100%; 
            background-color: $color_main_dark_transparent;
            display: none;
        }
            
        .navigation__menu li a {
            display: inline-block;
            text-decoration: none;
            @include font_menu_mobile;
            font-weight: 300;
            text-align: center;
            padding: .5rem 2rem;    
        }
        .navigation__menu li a:hover {
            color:  $color_main_dark;
            background-color: $color_main_white_transparent; 
            transition: 0.8s;
            border-radius: 10px;
        }
    }
}




@media only screen and (min-width: 590px) {
    header {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        margin-bottom: 1rem;
        

        .header__logo svg {
            width: 80px;
            height: 80px;
        }

        nav {
            background-image: none;
            float: right;

            .navigation__menu {
                display: flex;
                flex-direction: row;
                background-color: white;
                text-align: right;
                margin-bottom: -15px;

            }

            .navigation__menu li a {
                color: $color_main_dark;
                border: 1px solid transparent;
                padding: .3rem .4rem;
               
            }

            .navigation__menu li a:hover {
                color:  $color_main;
                border-bottom: 1px solid $color_main;
                transition: 0.8s;
                border-radius: 0;  
            }

        }
    }
}

@media only screen and (min-width: 1200px) {
    header {
        padding: 0 12rem;  
        
        nav {
            .navigation__menu li a {
                font-size: 1.5rem !important;
            }

        }
    }
}