
.part-between {
    display: block;
    background: linear-gradient(10deg, rgba(127, 0, 82, 0.6), #250a1ce3);
    
    padding: .6rem 0;
    @include font_menu_mobile;
    text-align: center;
    margin: 0 auto;
    h1 {
        color: rgba(255, 255, 255, 0);
        width: 100%;
        font-size: 1px;
    }
}

@media only screen and (min-width: 590px) {
    .part-between {
        display: none;
    }
    
}


 