main {
    .photogalery-section {
       
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
        max-height: 150px;
        justify-content: center;


        img {
            width: auto;
            height: 150px;
            
        }
        
    }
}

    